/* src/styles/global.css */
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@theme {
  /* Reemplaza la fuente sans por defecto con Inter */
  --font-sans: 'Inter', sans-serif;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background-color: #e4e4e7; border-radius: 20px; }
.dark ::-webkit-scrollbar-thumb { background-color: #27272a; }