---
const today = new Date();
---

<footer class="pt-10 border-t border-zinc-100 dark:border-zinc-900 pb-10">
  <div class="flex justify-between items-center">
    <p class="text-xs text-zinc-400">
      &copy; {today.getFullYear()} Enrique Relucio
    </p>
    <a href="https://ciberseguridadtactica.substack.com/subscribe" target="_blank"  class="text-xs text-zinc-400 hover:text-zinc-500 dark:hover:text-zinc-200 transition-colors">
    Newsletter
    </a>
     <a href="https://github.com/enrelu/relucio" target="_blank"  class="text-xs text-zinc-400 hover:text-zinc-500 dark:hover:text-zinc-200 transition-colors">
    Diseñado con Astro y Tailwind CSS
    </a>
  </div>
</footer>